* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hm_icon {
    width: 20px;
    height: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.video {
    width: 1200px;
    height: 600px;
    border-radius: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}